<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    {% block title %}
    <title>SMVDU E-portal</title>
    {% endblock title %}
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <!--external css-->
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/js/gritter/css/jquery.gritter.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style-responsive.css' %}"> 
    <script src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ns.js' %}"></script>
    

    <style type="text/css">
  .wrapper{
    min-height: 86%;
  }
    </style>
    {% block cssadd %} {% endblock cssadd %} {% block jsadd-up %}


     {% endblock jsadd-up %}

</head>

<body background="/static/assets/img/login-bg.jpg">
    <section id="container">

        <header class="header black-bg">
            {% if user.is_authenticated %}
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right"></div>
                {% endif %}
            </div>

            <!--logo start-->
            <a href="{% url 'home' %}" class="logo"><b>SMVDU Eportal</b></a>
            <!--logo end-->
            {% if user.is_authenticated %}
            <script>

                create_post();
            </script>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li>
                        <div class="nav notify-row" id="top_menu">
                            <!--  notification start -->
                            <ul class="nav top-menu">
                                <!-- settings start -->
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                        <i class="fa fa-bell"></i>
                                        <span class="badge bg-theme" id="n_no"></span>
                                    </a>
                                    <!--notification body -->
                                    <ul class="dropdown-menu extended inbox" id="n_body" style="overflow:auto;max-height:200px">
                                        <div class="notify-arrow notify-arrow-green"></div>
                                        
                                    </ul>
                                    <!-- notfication body end -->
                                </li>
                                <!-- settings end -->
                                <!-- inbox dropdown start-->
                                <li id="header_inbox_bar" class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-theme" id="M_no"></span>
                                    </a>
                                    <!-- message body-->
                                    <ul class="dropdown-menu extended inbox" id="M_body" style="overflow:auto;max-height:200px">
                                        <div class="notify-arrow notify-arrow-green"></div>
                                        
                                    </ul>
                                    <!-- end message body -->
                                </li>
                                <!-- inbox dropdown end -->
                            </ul>
                            <!--  notification end -->
                        </div>


                    </li>
                    <li><a class="logout" href="{% url 'logout' %}"><i class="fa fa-sign-out">&nbsp;&nbsp;Logout</i></a>
                    </li>
                </ul>

            </div>

            {% endif %} {% if not user.is_authenticated %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">


                    

                    <li><a href="{% url 'allcourses' %}">Courses</a>

                    </li>
                    <li><a href="{% url 'faculty' %}">Faculty</a>
                    </li>
                    <li><a href="{% url 'about' %}">About Us</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">Sign-in/Sign-up</a>
                    </li>
                </ul>

            </div>
            {% endif %}

        </header>

        {% block sidebar %} {% endblock sidebar %}
        <section id="main-content">
            <section class="wrapper">

                {% block content %} {% endblock content %}

            </section>
            {% block footer %}
            <footer class="site-footer">
                <div class="text-center">
                    <img src="{% static 'assets/img/sm.gif' %}" style="width:30px;">
                    <a href="#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            {% endblock footer %}

        </section>
        {% if user.is_authenticated %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%; text-align:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="change_password_form" method="post" action="/change/?next={{request.path}}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input type="password" id="c_password" name="c_password" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="change_password_submit">Submit</button>
                            <br>
                            <a href="#myModal2" data-dismiss="modal" data-toggle="modal" style="padding-top:10px"></a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endif %}
    </section>
    {% block js-foot %}
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.sparkline.js' %}"></script>
    <!--common script for all pages-->
    <script src="{% static 'assets/js/common-scripts.js' %}"></script>
    {% if user.is_authenticated %}
    <script>
$(document).ready(function() {
    //alert("change password");
    $("#change_password_form").validate({
        // Specify the validation rules
        rules: {
            new_password: {
                required: true,
                minlength: 6,
                maxlength: 10

            },
            c_password: {
                required: true,
                equalTo: "#new_password"
            }
        },

        // Specify the validation error messages
        messages: {
            password: "Please enter your first name",
            c_password: "Password do not match"
        }
    });
});
</script>

{% endif %}
    <!--script for this page-->


<div class="modal fade" id="fullMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%; text-align:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal_message_title">Delivery Message</h4>
            </div>
            <div class="modal-body">
                <div class="jumbotron" style="color: #fff;background: rgba(5, 5, 5, 0.87);">    <p id="modal_message_body"></p>
                </div>
                <div class="pull-left" id="modal_message_sender"></div>
                <div class="pull-right" id="modal_message_time"></div>
                    
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" style="padding-top:10px">Close</button>
            </div>
        </div>

    {% endblock js-foot %} 

    </div>
</div>
</body>

</html>
