{% extends 'base/header.html' %}
{% load staticfiles %}
     {% block sidebar %}
   <aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered">
                <a href="profile">
                    <img src="/static/uploaded_image/{{ user.student_profile.image }}" class="img-circle" width="60">

                </a>
            </p>
            <h5 class="centered">Marcel Newman</h5>

            <li class="mt">
                <a class="active" href="{% url 'dashboard' %}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            
        </ul>
    </div>
</aside>
{% endblock sidebar %}



