{% extends 'base/header.html' %}
{% load staticfiles %}
     {% block sidebar %}
     {% load partial_views %}

   <aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered">
                <a href="profile">
                    <img src="/static/uploaded_image/{{ user.faculty_profile.image }}" class="img-circle" width="60">
                </a>
            </p>
            <h5 class="centered">Marcel Newman</h5>

            <li class="mt">
                <a class="active" href="{% url 'dashboard' %}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Courses</span>
                </a>
                <ul class="sub">
                    {% course_list_function %}

                </ul>
            </li>

            
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" glyphicon glyphicon-cog"></i>
                    <span>SETTINGS</span>
                </a>
                <ul class="sub">
                    <li><a href="morris.html">View Profile</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Change Password</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</aside>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:100%; text-align:center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="change_password_form" method="post" action="/change/?next={{request.path}}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <input type="password" id="c_password" name="c_password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" name="change_password_submit">Submit</button>
                                <br>
                                <a href="#myModal2" data-dismiss="modal" data-toggle="modal" style="padding-top:10px"></a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script>
    $(document).ready(function() {
        $("#change_password_form").validate({
            // Specify the validation rules
            rules: {
                    new_password: {
                        required: true,
                        minlength: 6,
                        maxlength: 10

                    },
                    c_password: {
                        required: true,
                        equalTo: "#new_password"
                    }
                },

                // Specify the validation error messages
                messages: {
                    password: "Please enter your first name",
                    c_password: "Password do not match"
                }
        });
    });
    </script>
{% endblock sidebar %}



