{% extends 'base/sidebarf.html' %} {% load staticfiles %}



 {% block content %}
   

       <div class="row">

                    <!-- RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->
                    <h3 class="goright">Questions added:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</h3>
                    <div class="col-lg-3">
                        <!--COMPLETED ACTIONS DONUTS CHART-->
                        <div class="form-panel">
                            <h4 class="mb"><i class="fa fa-angle-right"></i> Filters</h4>
                            <form class="form-horizontal style-form" method="POST">
                                {% csrf_token}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon round-form"><i class="fa fa-search"></i>
                                            </span>
                                            <input type="text" class="form-control round-form" placeholder="Enter search text">

                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal style-form" method="get">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <legend class="center-block"><b>Select Category</b>
                                        </legend>
                                        <select class="form-control">
                                            <option value="my">My Questions</option>
                                            <option value="computers">Computers</option>
                                            <option value="electronics">Electronics</option>
                                            <option value="communication">Communications</option>
                                            <option value="mechanical">Mechanical Engg</option>
                                            <option value="IBT">IBT</option>
                                        </select>
                                        <br>
                                        <input type="submit" name="search" class="btn btn-primary btn-lg btn-block"></input>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <a href="http://google.com" style="color:#fff">
                            <div class="form-panel" id="link_panel" style="background: #D24726;color:#fff">
                                <div class="center-block">
                                    <h1 style="text-align:center">Add New Question</h1>
                                </div>
                            </div>
                        </a>
                        <a href="http://google.com" style="color:#fff">
                            <div class="form-panel" id="link_panel" style="background: #008299;color:#fff">
                                <div class="center-block">
                                    <h1 style="text-align:center">NEXT</h1>
                                </div>
                            </div>
                        </a>
                        <!--COMPLETED ACTIONS DONUTS CHART-->
                    </div>

                    <div class="col-lg-9 main-chart">

                        <!-- /row mt -->


                        <div class="row">
                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>
                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Add Question</button>

                                    </div>
                                </h4>
                            </div>
                            <!-- /form-panel -->

                        </div>
                        <div class="row">
                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>
                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Add Question</button>

                                    </div>
                                </h4>
                            </div>
                            <!-- /form-panel -->

                        </div>
                        <div class="row">
                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>

                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-magnet"></i> Add Question</button>
                                    </div>
                                </h4>
                            </div>
                            <!-- /form-panel -->
                        </div>
                        <div class="row">

                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>
                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Add Question</button>

                                    </div>
                                </h4>
                            </div>
                            <!-- /form-panel -->

                        </div>
                        <div class="row">
                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>
                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Add Question</button>

                                    </div>
                                </h4>
                            </div>
                            <!-- /form-panel -->

                        </div>
                        <div class="row">
                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>
                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Add Question</button>

                                    </div>
                                </h4>
                            </div>
                            <!-- /form-panel -->
                        </div>
                        <div class="row">

                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>

                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Add Question</button>

                                    </div>
                                </h4>
                            </div>
                            <!-- /form-panel -->

                        </div>
                        <div class="row">
                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i class="fa fa-hand-o-right"></i> this is the first question and we are writing this all bull shit because we need some dummy
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by: &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>rating:</h5>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning btn-xs" data-target="#fullQuestion" data-toggle="modal"><i class="fa fa-expand"></i> Full Question</button>
                                        <button type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Add Question</button>
                                    </div>
                                </h4>
                            </div>
                          

                        </div>

                      
                    </div>
               

                </div>

            <div class="modal fade" id="fullQuestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
  {% endblock content %} 
