{% extends temp %} {% load staticfiles %}{% load wysiwyg %} {% block title %}
<title>SMVDU E-portal | {{ user.username | upper }}</title>
{% endblock title %} {% load wysiwyg %} {% block cssadd %} {% if not request.user.is_authenticated %}
<style type="text/css">
#main-content {
    margin-left: 0;
    padding: 0;
}
.wrapper {
    margin-left: 0;
    padding: 0;
}
body {
    background: #f2f2f2;
}
</style>
{% endif %} 
<style type="text/css">
    
.form-horizontal .control-label {
text-align: right;
}

</style>
{% endblock cssadd %} {% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">


        <div class="form-panel">
<legend class="center-block text-center"><h1>Drop a query or Send us suggestion</h1>
                </legend>
            <form class="form-horizontal style-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label goright">Name</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" name="name" value="" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Subject</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" name="topic" value="" id="topic" class="form-control" placeholder="Subject" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Email</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" name="email" value="" id="Email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Message</label>
                    <div class="col-sm-9 col-md-9">
                        <textarea class="form-control" rows=8 name="message" placeholder="Write your feedback or Query Here" required></textarea>
                    </div>


                </div>
                    <div class="form-group">
<div class="col-sm-9 col-md-9 col-md-offset-2">
                        <input type="submit" value="Send" class="btn btn-info ">
</div>



                    </div>
                </div>
            </form>

        </div>
        <!-- end c_form -->


    </div>
    <!-- end contact_wrap -->
</div>

{% endblock %} {% block jsadd %} {% endblock jsadd %}
