{% extends temp %} {% load staticfiles %} {% block jsadd-up %}

{% endblock jsadd-up %}
{% load partial_views %}
 {% block content %}
       

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 main-chart">

                        <!-- /row mt -->


                        <div class="row mt">
                        {% if courses.count > 0 %}
                        {% for course in courses %}
                            <div class="col-md-4 col-sm-4 mb">
                                <a href="courses/{{ course.course_id }}">
                                    <div class="content-panel pn">
                                        <div id="blog-bg" style="background:url('/static/uploaded_image/{{ course.image }}');background-size:cover;">
                                            <div class="badge badge-popular">{{course.course_id}}</div>
                                            <div class="blog-title">{{course.course_name}}</div>
                                        </div>
                                        <div class="blog-text">
                                            <p>{{course.description}}<a href="#">Read More</a>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                        <!-- /row -->
                        

                        <div class="row mt">
                            <!--CUSTOM CHART START -->
                            <div class="border-head">
                                <h3>Students/Course</h3>
                            </div>
                            <div class="custom-bar-chart">
                                <ul class="y-axis">
                                    <li>
                                        <span>10.000</span>
                                    </li>
                                    <li>
                                        <span>8.000</span>
                                    </li>
                                    <li>
                                        <span>6.000</span>
                                    </li>
                                    <li>
                                        <span>4.000</span>
                                    </li>
                                    <li>
                                        <span>2.000</span>
                                    </li>
                                    <li>
                                        <span>0</span>
                                    </li>
                                </ul>
                                {% for course in courses %}
                            <div class="bar">
                            <div class="title">{{course.course_name}}</div>
                            {% make_bar course %}

                            </div>
                            {% endfor %}
                            </div>

                            <!--custom chart end-->
                            {% else %}

                            
                            <div class="col-md-12 mb">
                                <div class="jumbotron" style="color: #fff;background: rgba(5, 5, 5, 0.87);">
                                    <h1>You are not running any course currently!!!</h1>
                                </div>  
                            </div>
                            

                        {% endif %}
                        </div>
                        <!-- /row -->

                    </div>
                </div>
               
       
        
 {% endblock content %}  