{% extends 'base/header.html' %} {% load staticfiles %} {% block cssadd %}
{% if not user.is_authenticated %} 
<style type="text/css">
#main-content {
    margin-left: 0;
}
{% endif %}
</style>
{% endblock cssadd %} {% block content %}
<br>


<div class="row">
    <div class="col-lg-3">
        <div class="form-panel">
            <form class="form-horizontal style-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <legend class="center-block"><b>Select Department</b>
                        </legend>
                        <select class="form-control" name="department">
                            <option value="CSE">Computers</option>
                            <option value="ECE">Electronics & Comm</option>
                            <option value="MEC">Mechanical Engg</option>
                            <option value="IBT">IBT</option>
                            <option value="OTHER">Other</option>
                        </select>
                        <br>
                        <input type="submit" name="category" class="btn btn-primary btn-lg btn-block"></input>
                    </div>
                </div>
            </form>
        </div>
        <!--COMPLETED ACTIONS DONUTS CHART-->
    </div>

    <div class="col-lg-9 main-chart">

        <!-- /row mt -->


        <div class="row">
            <!-- SERVER STATUS PANELS -->
            {% if courses %} {% for course in courses %}
            <div class="col-sm-4 mb">
                <a href="course_info/{{course.course_id}}">
                    <div class="content-panel pn">
                        <div id="blog-bg" style="background:url('/static/uploaded_image/{{ course.image }}');background-size:cover;">
                            <div class="badge badge-popular">{{course.course_id}}</div>
                            <div class="blog-title">{{course.course_name}}</div>
                        </div>
                        <div class="blog-text">

                        </div>
                    </div>
                </a>
            </div>
            {% endfor %} {% else %}
            <div class="col-md-12 mb">
                <div class="jumbotron" style="color: #fff;background: rgba(5, 5, 5, 0.87);">
                    <h1>No Course Matching Your Query!!!</h1>
                </div>
            </div>

            {% endif %}

            <!-- /form-panel -->

        </div>
    </div>
</div>
{% endblock content %}
