{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load staticfiles %}
<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>

        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                
                <div class="fill" style="background-image:url('{% static 'images/1.jpg' %}');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'images/2.jpg' %}');"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'images/3.jpg' %}');"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'images/4.jpg' %}');"></div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

</header>

     
		    
<div class="global">
    <div class="container"> 
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="thumb-pad1 maxheight wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation: fadeInLeft 0.4s; height: 326px;"><div class="box_inner">
                    <div class="badge"><img src="{% static 'images/page1_icon1.png'%}" alt=""></div>
                    <div class="thumbnail">
                        <div class="caption">
                            <p class="title">Progressive Programs</p>
                            <p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero. </p>
                            <a href="#" class="btn-default btn1">Read More</a>
                        </div>
                    </div>
                    </div></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation: fadeInLeft 0.2s;">
                <div class="thumb-pad1 maxheight" style="height: 326px;"><div class="box_inner">
                    <div class="badge"><img src="{% static 'images/page1_icon2.png'%}" alt=""></div>
                    <div class="thumbnail">
                        <div class="caption">
                            <p class="title">online education</p>
                            <p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero. </p>
                            <a href="#" class="btn-default btn1">Read More</a>
                        </div>
                    </div>
                    </div></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft animated" style="visibility: visible; -webkit-animation: fadeInLeft;">
                <div class="thumb-pad1 maxheight" style="height: 326px;"><div class="box_inner">
                    <div class="badge"><img src="{% static 'images/page1_icon3 .png'%}" alt=""></div>
                    <div class="thumbnail">
                        <div class="caption">
                            <p class="title">International students</p>
                            <p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero. </p>
                            <a href="#" class="btn-default btn1">Read More</a>
                        </div>
                    </div>
                    </div></div>
            </div>
        </div>
    </div>
</div>
 <!-- <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
  -->
{% endblock %}
