<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Login/Registration</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootswatch.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/half-slider.css' %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  
</head>
<body >
	<div class="container">
  <!-- Navigation bar -->
	<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="#" class="navbar-brand">SMVDU E-Portal</a>
            </div>

            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#myModal" data-toggle="modal">Log In/Register</a></li>
              </ul>
            </div>

        </div>
    </div>
    <!-- end of navigation bar -->
    <!-- login form -->
    <br>
    <br/>
    <div class="row">
    	<div class="col-md-5">
    		<div class="jumbotron">
    			<div class="centered"><h3 class="form-signin-heading"><span class="label label-primary">LOGIN</span></h3></div>
			    <form role="form" method="post">
			    	 {% csrf_token %}
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" name="username" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			    <p>{{message}}</p>
			  </div>
			  <button type="submit" name="login"  class="btn btn-default">Submit</button>
			</form>
		</div>
		</div>
		<!-- end of login form -->

		<!-- registration -->
		<div class="col-md-1"> </div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h3 class="form-signin-heading centered"><span class="label label-primary">Register</span></h3>
		 <form role="form" method="post">
		 	 {% csrf_token %}
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" name="R_username" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" name="R_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			    </div>
			     <div class="form-group">
			    <label for="exampleInputEmail1">First Nmae</label>
			    <input type="text" name="R_fname" class="form-control" id="exampleInputFirstname" placeholder="Firstname">
			    </div>
			    <div class="form-group">
			    <label for="exampleInputEmail1">Last Nmae</label>
			    <input type="text" name="R_lanme" class="form-control" id="exampleInputLastname" placeholder="Firstname">
			    </div>

			    <div class="form-group">
					    <label for="exampleInputFile">Image</label>
					    <input type="file" name="R_Image" id="exampleInputFile">
					    <h6>Image should me lss than 200kB</h6>
  				</div>
			  
			  <button type="submit" name="register" class="btn btn-default">Submit</button>
			</form>
		</div>
		</div>
		<!-- end of registration-->
	</div>
</div>


 </body>
 </html>