<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Login/Registration</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootswatch.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/js-image-slider.css' %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/js-image-slider.js' %}"></script>
</head>
<!-- body Start -->
<body class>
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
 
	        <div class="navbar-header">
		          <a href="../" class="navbar-brand">SMVDU Portal</a>
		          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
	      	</div>
	        <div class="navbar-collapse collapse" id="navbar-main">
					 <ul class="nav navbar-nav navbar-right">
			            <li><a href="http://builtwithbootstrap.com/" target="_blank">LogIn</a></li>
			            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Register</a></li>
			         </ul>
	      	</div>

	      	
      </div>
 
  	</div>
  	<!-- toggle tan -->
	<ul class="nav nav-tabs" role="tablist">
	 	<li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
	  	<li role="presentation"><a href="#course" role="tab" data-toggle="tab">Courses</a></li>
	  	<li role="presentation"><a href="#faculty" role="tab" data-toggle="tab">Faculty</a></li>
	 	<li role="presentation"><a href="#aboutus" role="tab" data-toggle="tab">About Us</a></li>
	</ul>
  
        <div class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="home">

                          <div id="sliderFrame">
				<div id="slider">
				   <img src="{% static 'images/image-slider-1.jpg' %}" alt=""/>
				    <img src="{% static 'images/image-slider-2.jpg' %}" alt=""/>
				    <img src="{% static 'images/image-slider-3.jpg' %}" alt=""/>
				    <img src="{% static 'images/image-slider-4.jpg' %}" alt="" />
				    <img src="{% static 'images/image-slider-5.jpg' %}" />
				</div>
                      </div>
                  </div>
		  <div role="tabpanel" class="tab-pane fade" id="course">Course</div>
		  <div role="tabpanel" class="tab-pane fade" id="faculty">Faculty</div>
		  <div role="tabpanel" class="tab-pane fade" id="aboutus">About US</div>
      
          </div>
	</div>
  
      
</body>
</html>
