{% extends "base/sidebars.html" %} {% load staticfiles %} {% load humanize %} {% block cssadd %} {% endblock cssadd %} {% block jsadd-up %} {% endblock jsadd-up %} {% block content %}
<div class="row">
    <div class="col-lg-9 main-chart" style="padding-top:0;">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="row">
                    <!-- SERVER STATUS PANELS -->
                    <div class="form-panel">
                        <legend class="center-block"><b><h1>{{course.course_id}} : {{course.course_name}}</h1></b>
                            <a href="/profile/{{course.facultyassociated.user.username}}"><i class="fa fa-user fa-x"></i> &nbsp;{{course.facultyassociated.user.first_name}}&nbsp;&nbsp;{{course.facultyassociated.user.last_name}}</a>


                        </legend>
                        <div class="form-panel" style="margin:0;padding:0;">

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_a" data-toggle="tab">Announcements</a>
                                </li>
                                <li><a href="#tab_b" data-toggle="tab">Courseware</a>
                                </li>
                                <li><a href="#tab_c" data-toggle="tab">Quiz</a>
                                </li>
                                {% ifnotequal course.semester 'OPEN' %}
                                <li><a href="#tab_d" data-toggle="tab">Attendance</a>
                                </li>
                                {% endifnotequal %}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" style="margin:2%" id="tab_a">
                                    <br>
                                    <h3 style="margin:2%">TOPIC</h3>
                                    <p style="margin:2%" class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores atque, accusantium quos officiis et ipsam quisquam rerum sapiente? Ipsum, repellat harum. A libero, deleniti nostrum dolores! Dolore rem, assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolorum incidunt sunt ex, quam ipsum expedita nihil dignissimos, molestiae animi quisquam similique sequi quae voluptas adipisci explicabo voluptate ut tempore. </p>

                                </div>
                                <div class="tab-pane" style="max-height:600px;overflow:auto" id="tab_b">
                                    <br> {% for material in materials %}
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="form-panel">
                                                <h2>{{material.title}}</h2>
                                                <h5 class="mb"><i class="fa fa-file-pdf-o"></i> {{material.description}}
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-calendar-o"></i> Added on: &nbsp;&nbsp;&nbsp;{{material.timestamp}}</h5>
                                            </div>
                                            <div class="pull-right">
                                                <a href="localhost:8000/static/uploaded_image/{{material.document}}" type="button" class="btn btn-info btn-xs"><i class="fa fa-download"></i> Download</a>
                                            </div>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            <div class="tab-pane" id="tab_c">
                                <div class="row">
                                    {% if quizes %} {% for quiz in quizes %}
                                    <br>
                                    <br>
                                     <div class="col-lg-6 col-lg-offset-3">
                                            <div class="row">
                            <!-- SERVER STATUS PANELS -->
                            <div class="form-panel">
                                <h4 class="mb"><i  class="fa fa-hand-o-right"></i> {{quiz.title}}
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by:{{quiz.addedBy.user.first_name}} &nbsp;&nbsp;&nbsp;</h5>
                                    </div>
                                    <div class="pull-right">
                                       <a href="/quiz{{request.get_full_path}}/course_quiz/{{quiz.id}}"> 
                                        <button type="button"  class="btn btn-info btn-xs"><i class="fa fa-download"></i> Take Quiz</button>
                                    </a>
                                        
                                      

                                    </div>
                                </h4>
                            </div>
                            <br>
                            <br>
                            <!-- /form-panel -->
                            </div>
  </div>
                                    {% endfor %} {% else %}
                                    <div class="col-md-12 mb">
                                        <div class="jumbotron" style="color: #fff;background: rgba(5, 5, 5, 0.87);">
                                            <h1>No Upcomming Quizes&nbsp;&nbsp;&nbsp;<i class="fa fa-smile-o"></i></h1>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% ifnotequal course.semester 'OPEN' %}
                            <div class="tab-pane" id="tab_d">
                            <div class="row">
                                <div class="col-md-12 mb">
                                        <div class="jumbotron" style="color: #fff;background: rgba(5, 5, 5, 0.87);">
                                            <h4>Total classes held: &nbsp;&nbsp;{{total}}</h4>
                                            <h4>Total classes attended: &nbsp;&nbsp;{{total_p}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endifnotequal %}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="col-lg-3 ds">
    <!--COMPLETED ACTIONS DONUTS CHART-->
    <h3>RECENT ACTIVITY</h3>

    <!-- First Action -->
    <div style="overflow:auto;max-height:100%">
        {% for activity in activities %}

        <div class="desc">
            <div class="thumb">
                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="details">
                <p>
                    <muted>{{activity.time|naturaltime}}</muted>
                    <br>{{activity.subject}}
                    <br>
                </p>
            </div>
        </div>

        {% endfor %}
    </div>
    <!-- Second Action -->





</div>

</div>



{% endblock %} {% block jsadd %} {% endblock jsadd %}
