{% extends temp %} {% load staticfiles %} {% block title %}
<title>SMVDU E-portal | {{ user.username | upper }}</title>
{% endblock title %} {% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">



        <div class="row">
            <!-- SERVER STATUS PANELS -->
            <div class="form-panel">
                <legend class="center-block"><b>PROFILE | {{ user.username }}</b>
                </legend>
                <form class="form-horizontal style-form" method="post" id="target">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">Username</label>
                                <div class="col-sm-9 col-md-9">
                                    <div class="input-group">
                                        <input type="text" name="username" value="{{ user.username }}" class="form-control" placeholder="Email" readonly>
                                        <span style="background:grey;border:grey;" class="input-group-addon">@smvdu.ac.in</span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="firstname" value="{{ user.first_name|upper }}" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="lastname" value="{{ user.last_name|upper }}" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">Branch</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option value="CSE">CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="IBT">IBT</option>
                                        <option value="MEC">MEC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">SEMESTER</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">DOB</label>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">


                            <div class="row ">

                                <label class="col-sm-9 col-sm-9 control-label" style="margin-bottom:1%;margin-left:6%">Profile picture:</label>
                            </div>
                            <!-- <img src="/static/uploaded_image/{{ user.faculty_profile.image }}" width="200px"  style="margin-left:8%;margin-top:0;margin-bottom:1%;max-height:200px;max-width:200px;"> -->
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    {% if user.student_profile.image %}
                                    <img class="img-responsive img-thumbnail" src="/static/uploaded_image/{{ user.student_profile.image }}"> {% else %}
                                    <img class="img-responsive img-thumbnail" src="/static/uploaded_image/fpp/user_blue.png" /> {% endif %}

                                </div>
                            </div>
                            <br>
                            <div id="image">
                            <label class="col-sm-9 col-sm-9 control-label">Change your picture:</label>
                            <br>
                            <br>
                            <input type="file"  style="margin-left:4%;padding-bottom:2%;">
                            <br>
                            </div>

                        </div>


                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Weburl</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span style="background:grey;border:grey;" class="input-group-addon">www.</span>
                                        <input type="text" name="weburl" class="form-control" placeholder="Weburl" value="{{ user.faculty_profile.weburl|lower  }}">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
 -->






                    <legend class="center-block"></legend>
                    <div class="inline">
                        <input value="Edit" name="save" id="edit" class="btn btn-info btn-lg" style="width:50%">&nbsp;

                        <a class="btn btn-danger btn-lg" style="width:49%" id="view" href="/profile/{{ user.username }}">View as Public</a>
                    </div>
                </form>
                <!-- /form-panel -->

            </div>
            <!-- /row -->
        </div>
        <!-- /col-lg-9 END SECTION MIDDLE -->
    </div>

</div>



{% endblock %} {% block jsadd %}
<script type="text/javascript">
$(document).ready(function() {
    $("#target :input").prop("disabled", true);
    $("#edit").prop("disabled", false);
    $("#image").hide();
    $('#edit').click(function() {

        $(this).prop('value', 'Save');
        $(this).prop('type', 'Submit');
        $("#target :input").prop("disabled", false);
        $("#image" ).toggle();
    });
});
</script>
{% endblock jsadd %}
