{% extends temp %} {% load staticfiles %} {% block cssadd %} {% if not request.user.is_authenticated %}
<style type="text/css">
#main-content {
    margin-left: 0;
}
</style>
{% endif %} {% endblock cssadd %} {% block content %}

<div class="row">
    <div class="col-lg-12 main-chart">
    <legend class="center-block text-center"><b>PROJECT GUIDE </b>
                </legend>
        <div class="row">

            
            <div class="col-lg-4 col-md-4 col-sm-4 mb col-md-offset-4">
                <div class="content-panel pn">
                    <div id="profile-02">
                        <div class="user">
                            <img src="static/assets/MANOJ.KUMAR.jpg" class="img-circle" width="80">
                             <h2 style="color:white;"><b>Manoj Kumar</b></h2>
                        </div>
                    </div>
                    <div class="pr2-social centered">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="/profile/manoj.kumar"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <legend class="center-block text-center"><b>TEAM</b>
                </legend>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="content-panel pn">
                    <div id="profile-02">
                        <div class="user">
                            <img src="static/assets/mohan.jpg" class="img-circle" width="80">
                            <h2 style="color:white;"><b>Mohan Dutt Parashar</b></h2>
                            
                        </div>
                    </div>
                    <div class="pr2-social centered">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="/profile/2011ECS06"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="content-panel pn">
                    <div id="profile-02">
                        <div class="user">
                            <img src="static/assets/aman.jpg" class="img-circle" width="80">
                            <h2 style="color:white;"><b>Aman Kumar</b></h2>
                        </div>
                    </div>
                    <div class="pr2-social centered">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="/profile/2011ECS11"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="content-panel pn">
                    <div id="profile-02">
                        <div class="user">
                            <img src="static/assets/vibhanshu.jpg" class="img-circle" width="80">
                            <h2 style="color:white;"><b>Vibhanshu Chaturvedi</b></h2>
                        </div>
                    </div>
                    <div class="pr2-social centered">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="/profile/2011ECS48"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %} {% block jsadd %} {% endblock jsadd %}
