#ahome > img{
height:490px;
width:1330px;
left:10px;
position:relative;
}

.thumb-pad1 .badge {
padding: 0;
margin: 0 0 0 -47px;
width: 94px;
height: 94px;
line-height: 94px;
text-align: center;
border-radius: 100%;
background: #b93a41;
float: left;
margin-right: 34px;
position: absolute;
top: -44px;
left: 50%;
}
.global {
padding: 107px 0 0 0;
background: #f2f2f2;
}

.thumb-pad1 .thumbnail {
position: relative;
margin: 0;
border-radius: 0;
box-shadow: none;
border: none;
padding: 0;
background: none;
overflow: hidden;
}
.thumb-pad1 .thumbnail .caption .title {
text-transform: uppercase;
font: bold 22px 'Passion One';
color: #555a78;
margin-bottom: 13px;
}
.thumb-pad1 .thumbnail .caption {
padding: 0;
overflow: hidden;
}
.thumbnail .caption {
padding: 9px;
color: #8f8f8f;
}

.btn-default.btn1 {
box-shadow: none;
text-decoration: none !important;
display: inline-block;
padding: 0 20px;
font: bold 13px/34px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0;
text-transform: uppercase;
text-shadow: none;
border-radius: 0;
color: #ffffff;
background: #555a78;
border: 1px solid #555a78;
-webkit-transition: all 0.25s;
transition: all 0.25s;
}

.thumb-pad1 .thumbnail .caption p {
margin-bottom: 20px;
}
.thumb-pad1 {
margin: 0 0 63px 0;
padding: 86px 35px 49px 35px;
overflow: hidden;
background: #ffffff;
border: 1px solid #dadada;
text-align: center;
overflow: visible !important;
}
.box{
        padding: 20px;
        display: none;
        margin-top: 20px;
        border: 1px solid #000;
    }
.red{ background: #ff0000; }
.green{ background: #00ff00; }
.blue{ background: #0000ff; }

.datefield { 
    display: inline; 
    padding: 0.3em; 
    border: inset 1px #CCC; 
    background: #FFF; 
    border-radius: 4px;
    color: #666;
}

.datefield * { 
    display: inline-block;
}

.datefield input { 
    width: 1.7em; 
    padding: 0 0.4em; 
    border: none; 
    font-size: 100%; 
    background: none;
    color: #000;            
}

.datefield input#year { width:2.5em; }
.datefield input:focus { outline:none; }

