{% smart_extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('SMVDU site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('SMVDU E-portal ADMIN') }}</a></h1>
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    {% load staticfiles %}
    <style type="text/css">
  body{
    background-image: url('/static/assets/img/login-bg.jpg');
  }

</style>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}" />
    <script src="{% static 'admin/js/jquery-1.11.1.min.js' %}" ></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" ></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}" ></script>
{% endblock %}

{% block nav-global %}{% endblock %}
