{% smart_extends "admin/change_list.html" %}

{% block extrastyle %}
    {{ block.super }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}" />
    <script src="{% static 'admin/js/jquery-1.11.1.min.js' %}" ></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" ></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}" ></script>
{% endblock %}