<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}SMVDU E-Portal | HOME{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootswatch.min.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body style="margin:0;padding:0;">
    <nav class="navbar navbar-default navbar-fixed-top navbar-nav" style="margin-bottom:0px;" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a href="{% url 'home' %}" class="navbar-brand ">SMVDU E-Portal</a>


                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!--End of Navigation -->
    {% block content %}{% endblock %}

   
    <div id="footer" style="margin-top:10px;">
        <div class="container">
            <p class="text-center">&#128522; <a href="http://smvdu.net.in/" target="blank" style="color:white;">SMVDU</a>
            </p>
        </div>
    </div>

</body>

</html>
