{% extends 'accounts/base_accounts.html' %}
            {% block content %}
	  		<form class="form-login" method="POST" enctype="multipart/form-data">
		      	{% csrf_token %}
		        <h2 class="form-login-heading">Change Password</h2>
		        <div class="login-wrap">
		            <input type="password" name="change_password" class="form-control" placeholder="New Password" autofocus>
		            <br>
		            <P style="color:red">{{message_login}}</p>
		            <br>
		            <button class="btn btn-theme btn-block" name="login" type="submit"><i class="fa fa-sign-in"></i> Change Password</button>
		            <hr>
		            <h5 class="text-center">Sign In <a href="{% url 'login' %}">Click Here</a> </h5> 
		        </div>
		      </form>	  	
		    
{% endblock content %}