{% extends 'accounts/base_accounts.html' %}
            {% block content %}
	  		
		      <form class="form-login" action="index.html">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" placeholder="User ID" autofocus>
		            <br>
		            <input type="password" class="form-control" placeholder="Password">
		            <br>
		            <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-sign-in"></i> SIGN IN</button>
		            <hr>
		            <h5 class="text-center">Forgot Password? <a href="{% url 'reset' %}">Click Here</a> </h5> 
		           
		           <h5 class="text-center">Don't have an account? <a href="{% url 'register2' %}">Create One</a> </h5> 
		        </div>
		      </form>	  	
		    
{% endblock content %}
