{% extends 'base.html' %}
{% block title %}Login Register{% endblock %}
    <!-- login form -->
 {% block content %} 
    <br>
    <br/>
    <div class="container">
    <div class="row">
    	<div class="col-md-5">
    		<div class="jumbotron">
    			<div class="centered"><h3 class="form-signin-heading"><span class="label label-primary">LOGIN</span></h3></div>
    			{% if message_login %}
					<p class="alert alert-danger"><em><small>{{message_login}}</small></em></p>
		 		{% endif %}
			    <form role="form" method="post">
			    	 {% csrf_token %}
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <div class="input-group">
			    	<input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			    	<span class="input-group-addon">@smvdu.ac.in</span>
			  	</div>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			    <p>{{message}}</p>
			  </div>
			  <button type="submit" name="login"  class="btn btn-default">Submit</button>
			</form>
			<a href="{% url 'reset' %}" class="btn">Forget Password</a>
		</div>
		</div>
		<!-- end of login form -->

		<!-- registration -->
		<div class="col-md-1"> </div>
		<div class="col-md-6">
			<div class="jumbotron">
				<h3 class="form-signin-heading centered"><span class="label label-primary">Register</span></h3>
			{% if message_register_alert %}
				{% if message_register_alert == "success" %}
					<p class="alert alert-success"><em><small>Your password has been sent to your e-mail</small></em></p>
				{% elif message}
		 		{% endif %}
		 		{% if message_register_alert != "success" %}
					<p class="alert alert-danger"><em><small>{{ message_register_alert }}</small></em></p>
		 		{% endif %}
		 	{% endif %}
		 <form role="form" method="post" enctype="multipart/form-data">
		 	 {% csrf_token %}
		 	
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <div class="input-group">
			    	<input type="text" name="R_email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			    	<span class="input-group-addon">@smvdu.ac.in</span>
			    </div>
			  </div>
			     <div class="form-group">
			    <label for="exampleInputEmail1">First Name</label>
			    <input type="text" name="R_fname" class="form-control" id="exampleInputFirstname" placeholder="Firstname">
			    </div>
			    <div class="form-group">
			    <label for="exampleInputEmail1">Last Name</label>
			    <input type="text" name="R_lname" class="form-control" id="exampleInputLastname" placeholder="Lastname">
			    </div>
			    <div class='form-group'>
			    	<label for="exampleInputEmail1">Category</label>
			    	<label class="radio-inline">
		  						<input type="radio" name="category" id="inlineRadio1" value="student"> Student
						</label>
						<label class="radio-inline">
		  						<input type="radio" name="category" id="inlineRadio2" value="faculty"> Faculty
						</label>
						
				</div>		
			  <button type="submit" name="register" class="btn btn-default">Submit</button>
			</form>
		</div>
		</div>
		<!-- end of registration-->
	</div>
</div>

<!-- java script for the radio button selction -->
<script type="text/javascript">

    $(document).ready(function(){
        $('input[type="radio"]').click(function(){
            if($(this).attr("value")=="student"){
                $(".box").hide();
                $(".red").show();
            }
            if($(this).attr("value")=="faculty"){
                $(".box").hide();
                $(".green").show();
            }
           
        });
       
    });
</script>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:100%; text-align:center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Enter E-mail</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="change_password_form" method="post">
        {% csrf_token %}
                <div class="form-group">
                 <input type="email" id="forget" name="forget" class="form-control" placeholder="E-mail">
               </div>
               <div class="modal-footer">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="email">Send Password</button><br>
                    <a href="#myModal3" data-dismiss="modal" data-toggle="modal" style="padding-top:10px"></a>
                  </div>
                </div>
                </form>
      </div>
      
</div>
</div>
</div>
	{% endblock %}



 
