{% extends 'accounts/base_accounts.html' %}
            {% block content %}
            <form class="form-login" action="index.html">
                <h2 class="form-login-heading">SIGN UP</h2>
                <div class="login-wrap">
                    <input type="text" class="form-control" placeholder="User ID" autofocus>
                    <br>
                    <input type="text" class="form-control" placeholder="First Name">
                    <br>
                    <input type="text" class="form-control" placeholder="Last Name">
                    <br>
                    <div class='form-group'>
                        <label for="exampleInputEmail1" ><h5>Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></label>
                        <label class="radio-inline">
                            <input type="radio" name="category" id="inlineRadio1" value="student"> Student
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio" name="category" id="inlineRadio2" value="faculty"> Faculty
                        </label>

                    </div>

                    
                    <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-sign-in"></i> SIGN UP</button>
                    <hr>
                    <h5 class="text-center">Already have an account? <a href="{% url 'login' %}">Login Here</a> </h5>
                </div>
            </form>



 {% endblock content %}
