{% extends 'accounts/base_accounts.html' %}
{% block content %}
    <form class="form-login" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-login-heading">SIGN UP</h2>
        <div class="login-wrap">
            <input type="text" name="R_email" class="form-control" placeholder="User ID" autofocus>
            <br>
            <input type="text" name="R_fname" class="form-control" placeholder="First Name">
            <br>
            <input type="text" name="R_lname" class="form-control" placeholder="Last Name">
            <br>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <div class='form-group padding-top-15'>
                <label for="input-type">
                    Category&nbsp;
                </label>
                <label class="radio-inline">
                    <input type="radio" name="category" id="inlineRadio1" value="student"> Student
                </label>
                <label class="radio-inline">
                    <input type="radio" name="category" id="inlineRadio2" value="faculty"> Faculty
                </label>

            </div>

            {% if msg %}
                {% if msg == "success" %}
                    <p class="text-center error alert alert-success">
                        Password is sent to your email id
                    </p>{% endif %}
                {% if msg != "success" %}
                    <p class="text-center error alert alert-danger">

                        {{ msg }}


                    </p>

                {% endif %}
            {% endif %}

            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-sign-in"></i> SIGN UP</button>
            <hr>
            <h5 class="text-center">Already have an account? <a href="{% url 'login' %}">Login Here</a></h5>
        </div>
    </form>



{% endblock content %}
