{% extends 'accounts/base_accounts.html' %}
	  		{% block content %}
	  		{% load cssFilter %}
		    
    <div class="row">
        <!-- Display the success message on successful submission and validation
            of the contact form data.
        -->
        <br>
        <br>
        <br>
        <br>
        <div class="jumbotron">
          <p class="alert alert-warning">
            Password reset initiated. Reset link has been sent to your registered Email-id.
            Click on the link and enter new password.
          </p>
          <a class="btn btn-primary pull-right" href="{% url 'home' %}">Close</a>
        </div>
    </div>
		    
{% endblock content %}	  	
	  		
	  	